# Compilação
target/
*.class

# Logs
logs/
*.log

# Arquivos temporários
*.tmp
*.swp
*.swo

# Maven
.mvn/wrapper/maven-wrapper.jar

# IDE IntelliJ
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Spring Boot
application-local.properties
application-dev.properties

# H2 database (arquivo local se usar file mode)
*.mv.db
*.trace.db